body {
  background-color: orange;
  margin-top: 3rem;
}

.boxes {
  display: flex;
  justify-content: center;
  padding: 5rem;
  padding-top: 2rem;
}

.boxes div {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin: 4px;
  padding: 3px;
}

.boxes div:hover {
  box-shadow: 3px 3px 3px black;
  transition: all 0.2s ease-in-out;
  
}

.playerOne {
  transition: all 3ms ease-in-out;
  transform: rotate(-45deg);
  border-radius: 50%;
}

.playerTwo {
background-color: black;
}

.game-info {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
}

.game-info > h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 3rem;
  font-family: 'Allerta Stencil';
}

@media (max-width: 600px) {
  .boxes div {
    margin-left: 2rem;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 4px;
    padding: 3px;
  }
  .game-info {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
  }
  .game-info > h2 {
    font-size: 1rem;
    text-align: center;
    padding: 0 1rem;
    font-family: 'Allerta Stencil';
  }
}